Thumbs.db
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# Build / temp
dist/
build/
tmp/
temp/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
